[Unit]
Description=ArchRiot Automated Installer
Documentation=https://github.com/ArchRiot/ArchRiot
After=multi-user.target
After=network-online.target
Wants=network-online.target
DefaultDependencies=no

[Service]
Type=idle
ExecStart=/usr/local/bin/archriot-installer
StandardInput=tty
StandardOutput=tty
StandardError=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
User=root
Group=root
WorkingDirectory=/root
Environment=TERM=linux
Environment=HOME=/root
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
KillMode=process
KillSignal=SIGTERM
TimeoutStopSec=30
Restart=no
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
